<h1>À propos</h1>
<p>
  Ce site a été créé pour simplifier l'accès aux résultats, ainsi
  qu'aux profils, listes et programmes des candidats aux élections
  municipales 2014 de Saint-Laurent-du-Var (Alpes-Maritimes, France).
<p>

<ul>
  <li>Développé et maintenu par <a href="http://gillesfabio.com" target="_blank">Gilles Fabio</a> (laurentin depuis 32 ans)</li>
  <li>Grâcieusement hébergé par <a href="http://github.com" target="_blank">GitHub</a></li>
  <li><a href="http://github.com/gillesfabio/SLV2014" target="_blank">Son code source</a> est librement disponible sous <a href="http://fr.wikipedia.org/wiki/Licence_MIT" target="_blank">licence MIT</a></li>
  <li>Les données des candidats sont extraites des sites et programmes officiels</li>
  <li>La liste des bureaux de vote provient du <a href="http://www.alpes-maritimes.gouv.fr/" target="_blank">site de la préfécture des Alpes-Maritimes</a></li>
  <li>Les résultats ont été récupérés depuis le <a href="http://elections.interieur.gouv.fr/MN2014/" target="_blank">le site du Ministère de l'Intérieur</a></li>
  <li>Les résultats par bureau de vote ont été récupérés depuis le quotidien <a href="http://www.nicematin.com/" target="_blank">Nice Matin</a></li>
</ul>

<p>
  Bugs&nbsp;? Erreurs&nbsp;? N'hésitez pas à <a href="mailto:gilles@gillesfabio.com">Gilles</a>.
</p>
