<h1>À propos</h1>
<p>
  Je suis <a href="http://gillesfabio.com">Gilles Fabio</a>,
  Laurentin depuis trente-deux ans, <a href="http://fr.wikipedia.org/wiki/D%C3%A9veloppeur">développeur</a>,
  non-militant politique. J'ai décidé de créer ce site pour simplifier la
  lecture et la comparaison des programmes des différents candidats aux
  élections municipales de ma ville, Saint-Laurent-du-Var (France, Alpes-Maritimes).
</p>
<p>
  Réalisé sur mon temps libre, ce site n'est rattaché à aucun parti politique,
  n'est sponsorisé par aucune entité et ne génère pas de revenus. Il ne stocke
  aucune données, excepté votre IP (utilisée par <a href="http://www.google.com/analytics/">Google Analytics</a>
  pour avoir un retour sur sa fréquentation).
  Grâcieusement hébergé par <a href="http://github.com">GitHub</a>, son code
  source sera bientôt disponible (un lien sera placé sur cette page).
</p>
<p>
  Les données des candidats (profils, programmes et listes de colistiers)
  sont extraites des sites et programmes officiels. La liste des bureaux de vote provient du
  <a href="http://www.alpes-maritimes.gouv.fr/">site de la préfécture des Alpes-Maritimes</a>.
<p>
  Si vous rencontrez des bugs ou si vous remarquez des erreurs (fautes
  de français, erreurs dans les profils et programmes des candidats, etc),
  n'hésitez surtout pas à <a href="mailto:gilles@gillesfabio.com">me contacter</a>.
</p>
