<div class="row">
  <div class="candidate-detail-card"></div>
</div>
<div class="row">
  <div class="small-12 large-7 columns">
    <div class="candidate-detail-program"></div>
  </div>
  <div class="small-12 large-5 columns">
    <div class="candidate-detail-list"></div>
  </div>
</div>
