<div class="home-results-elected"></div>
<div class="home-info">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
    <li>
      <div class="dashbox">
        <h5>Conseil Municipal</h5>
        <div class="row">
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>35</dt>
              <dd>Sièges à pourvoir</dd>
            </dl>
          </div>
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>0</dt>
              <dd>Siège(s) pourvu(s)</dd>
            </dl>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="dashbox">
        <h5>Conseil Communautaire</h5>
        <div class="row">
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>6</dt>
              <dd>Sièges à pourvoir</dd>
            </dl>
          </div>
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>0</dt>
              <dd>Siège(s) pourvu(s)</dd>
            </dl>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="home-results-round1"></div>
<div class="home-results-round2"></div>
