<div class="welcome">
  <p>
    <strong>Bienvenue sur SLV2014.fr&nbsp;!</strong> Ce site vous permet
    de <a href="{{config.baseUrl}}#/themes">comparer les programmes</a> (par thème)
    et de suivre les résultats des <a href="{{config.baseUrl}}#/candidats">candidats</a>
    aux élections municipales de <a href="http://saintlaurentduvar.fr">Saint-Laurent-du-Var</a>.
    Vous pouvez également consulter <a href="{{config.baseUrl}}#/bureaux">la liste des bureaux de vote</a>.
  </p>
</div>
<div class="home-results-elected"></div>
<div class="home-results-round1"></div>
<div class="home-results-round2"></div>
