<div class="welcome">
  <p>
    <strong>Bienvenue sur SLV2014.fr&nbsp;!</strong> Ce site vous permet
    de <a href="{{config.baseUrl}}#/themes">comparer les programmes</a> (par thème)
    et de suivre les résultats des <a href="{{config.baseUrl}}#/candidats">candidats</a>
    aux élections municipales de <a href="http://saintlaurentduvar.fr">Saint-Laurent-du-Var</a>.
    Vous pouvez également consulter <a href="{{config.baseUrl}}#/bureaux">la liste des bureaux de vote</a>.
  </p>
</div>
<div class="home-results-elected"></div>
<div class="home-info">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
    <li>
      <div class="dashbox">
        <h5>Conseil Municipal</h5>
        <div class="row">
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>35</dt>
              <dd>Sièges à pourvoir</dd>
            </dl>
          </div>
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>0</dt>
              <dd>Siège(s) pourvu(s)</dd>
            </dl>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="dashbox">
        <h5>Conseil Communautaire</h5>
        <div class="row">
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>6</dt>
              <dd>Sièges à pourvoir</dd>
            </dl>
          </div>
          <div class="small-12 medium-6 large-6 columns">
            <dl>
              <dt>0</dt>
              <dd>Siège(s) pourvu(s)</dd>
            </dl>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="home-results-round1"></div>
<div class="home-results-round2"></div>
