<h2>Mes Colistiers</h2>
<ul class="small-block-grid-1 large-block-grid-2">
  {{#each people}}
  <li class="list-person {{#if cc}}list-cc{{/if}}">
    <div class="list-person-content">
      <h5><span class="list-person-position">{{position}}.</span> {{name}}</h5>
    </div>
  </li>
  {{/each}}
</ul>
