<h1>Résultats par bureau de vote</h1>

{{#any results.r1}}
<h2>1<sup>er</sup> tour</h2>
<ul class="small-block-grid-1 large-block-grid-2">
  {{#each results.r1}}
  <li>{{> officeResult}}</li>
  {{/each}}
</ul>
{{/any}}

{{#any results.r2}}
<h2>2<sup>ème</sup> tour</h2>
<ul class="small-block-grid-1 large-block-grid-2">
  {{#each results}}
  <li>{{> officeResult.r2}}</li>
  {{/each}}
</ul>
{{/any}}
