<h1>Bureaux de vote</h1>
<ul class="small-block-grid-1 medium-block-grid-3">
  {{#each offices}}
  <li>
    <div class="office">
      <h3><small>{{number}} —</small> {{name}}</h3>
      <p class="office-address">{{address}}</p>
      <p class="office-gmap">
        <a href="{{gmapsLink gmapSearch}}" class="button tiny" target="_blank">Voir sur Google Maps</a>
      </p>
    </div>
  </li>
  {{/each}}
</ul>
