<h1>Thèmes</h1>
<ul class="small-block-grid-1 medium-block-grid-3">
  {{#each themes}}
  <li><span><i class="fa fa-{{icon}}"></i> <a href="{{../config.baseUrl}}#/themes/{{id}}">{{name}}</a></span></li>
  {{/each}}
</ul>
