<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saint-Laurent-du-Var Municipales 2014</title>
    <% if env == 'development' %>
      <% for style in styles %>
      <link rel="stylesheet" href="<%= baseurl %><%= style %>"><% endfor %>
      <script src="<%= baseurl %><%= modernizr %>"></script>
    <% else %>
      <link rel="stylesheet" href="<%= baseurl %>css/styles.css">
      <script src="<%= baseurl %>js/modernizr.js"></script>
    <% endif %>
  </head>
  <body>
    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="<%= baseurl %>">SLV Municipales 2014</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="<%= baseurl %>#/candidats">Candidats</a></li>
            <li><a href="<%= baseurl %>#/themes">Thèmes</a></li>
            <li><a href="<%= baseurl %>#/a-propos">À propos</a></li>
          </ul>
        </section>
      </nav>
    </div>
    <div id="content" class="row">
    </div>

    <script id="candidate-card-template" type="text/x-handlebars-template">
      <div class="row">
        <div class="small-12 medium-2 large-2 columns">
          <img src="{{model.picture}}" class="circle" alt="{{model.name}}">
        </div>
        <div class="small-12 medium-10 large-10 columns">
          <h2 class="candidate-name">{{model.name}} <small>({{model.party.acronym}})</small></h2>
          {{#if model.slogan}}<h3 class="candidate-slogan">{{model.slogan}}</h3>{{/if}}
          <ul class="no-bullet candidate-links">
            {{#if model.homepage}}<li><i class="fa fa-globe"></i> <a href="{{model.homepage}}">{{model.homepage}}</a></li>{{/if}}
            {{#if model.twitter}}<li><i class="fa fa-twitter"></i> <a href="http://twitter.com/{{model.twitter}}">@{{model.twitter}}</a></li>{{/if}}
            {{#if model.facebook}}<li><i class="fa fa-facebook-square"></i> <a href="http://facebook.com/{{model.facebook}}">{{model.facebook}}</a></li>{{/if}}
          </ul>
          {{#if showButton}}
          <a href="<%= baseurl %>#/candidats/{{model.slug}}" class="button"><i class="fa fa-list-ol"></i> Mon Programme</a>
          {{/if}}
        </div>
      </div>
    </script>

    <script id="running-mate-list-template" type="text/x-handlebars-template">
      <h2>Mes Colistiers</h2>
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        {{#each runningMates}}
        <li class="running-mate">
          <div class="running-mate-content">
            <h5>{{name}}</h5>
            {{#if age }}<h6>{{ age }} ans</h6>{{/if}}
            {{{md2html bio}}}
          </div>
        </li>
        {{/each}}
      </ul>
    </script>

    <script id="candidate-program-template" type="text/x-handlebars-template">
      <h2>Mon programme</h2>
      {{#each projects}}
      <h3 class="theme-title"><a href="<%= baseurl %>#/themes/{{this.0.theme.slug}}">{{@key}}</a></h3>
      <ul class="no-bullet candidate-program-projects">
        {{#each this}}
        <li>{{{md2html description}}}</li>
        {{/each}}
      </ol>
      {{/each}}
    </script>

    <script id="candidate-detail-template" type="text/x-handlebars-template">
      <div class="candidate-detail-card"></div>
      <div class="candidate-detail-program-source panel callout">
        <p>
          Ce programme a été extrait manuellement, avec plusieurs relectures,
          du <a href="{{candidate.programUrl}}">programme officiel</a>. Merci
          de signaler toute erreur ou manquement à <a href="mailto:gilles@gillesfabio.com">Gilles</a>,
          qui corrigera immédiatement.
        </p>
      </div>
      <div class="candidate-detail-running-mates"></div>
      <div class="candidate-detail-program"></div>
    </script>

    <script id="theme-list-template" type="text/x-handlebars-template">
      <h2>Thèmes</h2>
      <ul class="small-block-grid-1 medium-block-grid-3">
        {{#each this}}
        <li>
          <span><a href="<%= baseurl %>#/themes/{{slug}}">{{name}}</a></span>
        </li>
        {{/each}}
      </ul>
    </script>

    <script id="theme-detail-template" type="text/x-handlebars-template">
      <h3>{{theme.name}}</h3>
      {{#each programs}}
      <h4>{{@key}}</h4>
      <ul class="no-bullet candidate-program-projects">
        {{#each this.projects}}
        <li>{{{md2html description}}}</li>
        {{/each}}
      </ul>
      {{/each}}
    </script>

    <script id="about-template" type="text/x-handlebars-template">
      <h1>À propos</h1>
      <p>
        Je suis <a href="http://gillesfabio.com">Gilles Fabio</a>, le créateur
        de ce site.
      </p>
      <p>
        Laurentin depuis trente-deux ans, non-militant politique
        et développeur de profession, j'ai décidé de créer ce site pour simplifier
        la comparaison des programmes des différents candidats aux élections
        municipales 2014 de ma ville, Saint-Laurent-du-Var.
      </p>
      <p>
        Réalisé sur mon temps libre, ce site n'est rattaché à aucun parti politique,
        n'est sponsorisé par aucune entité et ne génère pas de revenus. Il ne stocke
        aucune données, excepté votre IP (utilisée par <a href="http://www.google.com/analytics/">Google Analytics</a>
        pour avoir un retour sur sa fréquentation).
      </p>
      <p>
        Son code est librement disponible sur <a href="http://github.com/gillesfabio/SLVM2014">GitHub</a>,
        sous <a href="http://opensource.org/licenses/MIT">licence MIT</a>.
      </p>
      <p>
        Techniquement, ce site n'est composé que d'une seule page HTML dynamisée
        par le langage <a href="http://fr.wikipedia.org/wiki/JavaScript">JavaScript</a>.
        Les données (profils des candidats et leurs programmes) sont stockées dans un fichier texte au format <a href="http://www.yaml.org/">YAML</a>
        (<a href="https://github.com/gillesfabio/SLVM2014/blob/master/data/data.yaml">disponible ici</a>).
        Ce fichier est tansmis à un générateur qui le transforme en fichier
        <a href="http://json.org/">JSON</a>, qui est ensuite utilisé par
        l'application JavaScript sous-jacente pour présenter dynamiquement ces
        données. L'application JavaScript utilise le framework <a href="http://backbonejs.org">Backbone</a>,
        le moteur de template <a href="http://handlebarsjs.com">Handlebars</a> et
        le framework <a href="http://foundation.zurb.com/">Foundation</a>.
      </p>
      <p>
        Ce site est également gracieusement hébergé par <a href="http://github.com">GitHub</a>.
        Si vous rencontrez des problèmes d'accès (page longue à charger), c'est qu'il
        connaît plus de succès qu'escompté (le service hébergement de GitHub n'est pas
        adapté pour du fort trafic).
      </p>
      <p>
        Si vous rencontrez des bugs ou si vous remarquez des erreurs (fautes
        de français, erreurs dans les profils et programmes des candidats, etc),
        n'hésitez surtout pas à <a href="mailto:gilles@gillesfabio.com">me contacter</a>.
      </p>
    </script>

    <script>window.APP_BASE_URL="<%= baseurl %>";</script>
    <% if env == 'development' %>
      <% for script in scripts %>
      <script src="<%= baseurl %><%= script %>"></script>
      <% endfor %>
    <% else %>
      <script src="<%= baseurl %>js/scripts.js"></script>
    <% endif %>

  </body>
</html>
