<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLV2014.fr</title>
    <link rel="shortcut icon" href="<%= baseurl %>images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<%= baseurl %>images/favicon.ico" type="image/x-icon">
    <% if env == 'development' %>
    <% for style in styles %>
    <link rel="stylesheet" href="<%= baseurl %><%= style %>"><% endfor %>
    <script src="<%= baseurl %><%= modernizr %>"></script>
    <% else %>
    <link rel="stylesheet" href="<%= baseurl %>css/styles.css">
    <script src="<%= baseurl %>js/modernizr.js"></script>
    <% endif %>
  </head>
  <body>
    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="<%= baseurl %>">SLV2014.fr</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="<%= baseurl %>#/candidats">Candidats</a></li>
            <li><a href="<%= baseurl %>#/themes">Thèmes</a></li>
            <li><a href="<%= baseurl %>#/bureaux">Bureaux de vote</a></li>
            <li><a href="<%= baseurl %>#/a-propos">À propos</a></li>
          </ul>
        </section>
      </nav>
    </div>
    <div id="content" class="row">
    </div>
    <script id="home-template" type="text/x-handlebars-template">
      <div class="welcome">
        <p>
          <strong>Bienvenue sur SLV2014.fr&nbsp;!</strong> Ce site vous permet
          de <a href="<%= baseurl %>#/themes">comparer les programmes</a> (par thème)
          et de suivre les résultats des <a href="<%= baseurl %>#/candidats">candidats</a>
          aux élections municipales de <a href="http://saintlaurentduvar.fr">Saint-Laurent-du-Var</a>.
          Vous pouvez également consulter <a href="<%= baseurl %>#/bureaux">la liste des bureaux de vote</a>.
        </p>
      </div>
      {{#if elected}}
      <div class="elected">
        <div class="elected-header">
          <h2>Maire élu</h2>
        </div>
        <div class="elected-content">
          <a href="<%= baseurl %>#/candidats/{{elected.id}}">
            <img src="<%= baseurl %>images/{{lastname elected.id}}.jpg" class="circle" alt="{{name}}">
          </a>
          <h3>{{elected.name}}</h3>
        </div>
      </div>
      {{/if}}
      <div class="results">
        <div class="results-header">
          <h5>1er tour <small>(23 mars 2014)</small></h5>
          <div class="countdown-round1"></div>
        </div>
        <div class="results-content">
          <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-6">
          {{#each candidatesRound1}}
          <li>
            {{#if programUrl}}<a href="<%= baseurl %>#/candidats/{{id}}">{{/if}}
              <img src="<%= baseurl %>images/{{lastname id}}.jpg" class="circle" alt="{{name}}">
            {{#if programUrl}}</a>{{/if}}
            <h5>{{name}}</h5>
            {{#if scoreRound1 }}<h6>{{scoreRound1}}%</h6>{{/if}}
          </li>
          {{/each}}
          <ul>
        </div>
      </div>
      {{#if hasRound2}}
      <div class="results">
        <div class="results-header">
          <h5>2ème tour <small>(30 mars 2014)</small></h5>
          <div class="countdown-round2"></div>
        </div>
        <div class="results-content">
          <div class="row">
            <div class="small-6 small-centered columns">
              <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
              {{#each candidatesRound2}}
              <li>
                {{#if programUrl}}<a href="<%= baseurl %>#/candidats/{{id}}">{{/if}}
                  <img src="<%= baseurl %>images/{{lastname id}}.jpg" class="circle" alt="{{name}}">
                {{#if programUrl}}</a>{{/if}}
                <h5>{{name}}</h5>
                {{#if scoreRound2 }}<h6>{{scoreRound2}}%</h6>{{/if}}
              </li>
              {{/each}}
              <ul>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </script>
    <script id="candidate-card-template" type="text/x-handlebars-template">
      <div class="row">
        <div class="small-12 columns">
          <img src="<%= baseurl %>images/{{lastname candidate.id}}.jpg" class="circle" alt="{{candidate.name}}">
        </div>
        <div class="small-12 columns">
          <h1>{{candidate.name}}</h1>
          <h2>{{candidate.slogan}} ({{candidate.party}})</h2>
          <h3>Tapez <span class="vote-number">{{candidate.voteNumber}}</span></h3>
          <ul class="no-bullet">
            {{#if candidate.homepage}}<li><i class="fa fa-globe"></i> <a href="{{candidate.homepage}}" target="_blank">{{candidate.homepage}}</a></li>{{/if}}
            {{#if candidate.twitter}}<li><i class="fa fa-twitter"></i> <a href="http://twitter.com/{{candidate.twitter}}" target="_blank">@{{candidate.twitter}}</a></li>{{/if}}
            {{#if candidate.facebook}}<li><i class="fa fa-facebook-square"></i> <a href="http://facebook.com/{{candidate.facebook}}" target="_blank">{{candidate.facebook}}</a></li>{{/if}}
          </ul>
          {{#if showDetailLink}}
          <p>
            <a href="<%= baseurl %>#/candidats/{{candidate.id}}" class="button radius">
            <i class="fa fa-list-ol"></i> Mon Programme
            </a>
          </p>
          {{/if}}
        </div>
      </div>
    </script>
    <script id="running-mate-list-template" type="text/x-handlebars-template">
      <h2>Mes Colistiers</h2>
      <ul class="small-block-grid-1 large-block-grid-2">
        {{#each runningMates}}
        <li class="running-mate {{#if community}}running-mate-community{{/if}}">
          <div class="running-mate-content">
            <h5><span class="running-mate-position">{{position}}.</span> {{name}}</h5>
            {{#if bio}}{{{md2html bio}}}{{/if}}
          </div>
        </li>
        {{/each}}
      </ul>
    </script>
    <script id="candidate-program-template" type="text/x-handlebars-template">
      <h2>Mon programme</h2>
      {{#each projects}}
      <h3 class="theme-title"><a href="<%= baseurl %>#/themes/{{this.0.theme.slug}}">{{@key}}</a></h3>
      <ul class="no-bullet candidate-program-projects">
        {{#each this}}
        <li>{{{md2html description}}}</li>
        {{/each}}
      </ol>
      {{/each}}
    </script>
    <script id="candidate-list-template" type="text/x-handlebars-template">
      <h1>Les candidats</h1>
      <ul class="small-block-grid-1 medium-block-grid-2 candidate-list-container"></ul>
    </script>
    <script id="candidate-detail-template" type="text/x-handlebars-template">
      <div class="row">
        <div class="candidate-detail-card"></div>
      </div>
      <div class="row">
        <div class="small-12 large-7 columns">
          <div class="candidate-detail-program"></div>
        </div>
        <div class="small-12 large-5 columns">
          <div class="candidate-detail-running-mates"></div>
        </div>
      </div>
    </script>
    <script id="theme-list-template" type="text/x-handlebars-template">
      <h1>Thèmes</h1>
      <ul class="small-block-grid-1 medium-block-grid-3">
        {{#each this}}
        <li>
          <span>
            <i class="fa fa-{{icon}}"></i> <a href="<%= baseurl %>#/themes/{{id}}">{{name}}</a>
          </span>
        </li>
        {{/each}}
      </ul>
    </script>
    <script id="theme-detail-template" type="text/x-handlebars-template">
      <h1>{{theme.name}}</h1>
      {{#each programs}}
      <div class="row candidate-projects">
        <div class="small-12 large-3 columns text-center">
          <img src="<%= baseurl %>images/{{lastname candidate.id}}.jpg" class="circle" alt="{{candidate.name}}">
          <h4>{{@key}}</h4>
        </div>
        <div class="small-12 large-9 columns">
          <ul class="no-bullet candidate-program-projects">
            {{#each this.projects}}
            <li>{{{md2html description}}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </script>
    <script id="polling-place-list-template" type="text/x-handlebars-template">
      <h1>Bureaux de vote</h1>
      <ul class="small-block-grid-1 medium-block-grid-3">
        {{#each pollingPlaces}}
        <li>
          <div class="polling-place">
            <h2>{{number}} <small>— Horaires : {{opening}}</small></h2>
            <p>{{{formatAddress address}}}</p>
            <p><a href="{{gmapsLink gmapSearch}}" class="button tiny" target="_blank">Voir sur Google Maps</a></p>
          </div>
        </li>
        {{/each}}
      </ul>
    </script>
    <script id="about-template" type="text/x-handlebars-template">
      <h1>À propos</h1>
      <p>
        Je suis <a href="http://gillesfabio.com">Gilles Fabio</a>,
        Laurentin depuis trente-deux ans, <a href="http://fr.wikipedia.org/wiki/D%C3%A9veloppeur">développeur</a>,
        non-militant politique. J'ai décidé de créer ce site pour simplifier la
        lecture et la comparaison des programmes des différents candidats aux
        élections municipales de ma ville, Saint-Laurent-du-Var (France, Alpes-Maritimes).
      </p>
      <p>
        Réalisé sur mon temps libre, ce site n'est rattaché à aucun parti politique,
        n'est sponsorisé par aucune entité et ne génère pas de revenus. Il ne stocke
        aucune données, excepté votre IP (utilisée par <a href="http://www.google.com/analytics/">Google Analytics</a>
        pour avoir un retour sur sa fréquentation).
        Grâcieusement hébergé par <a href="http://github.com">GitHub</a>, son code
        source sera bientôt disponible (un lien sera placé sur cette page).
      </p>
      <p>
        Les données des candidats (profils, programmes et listes de colistiers)
        sont extraites des sites et programmes officiels. La liste des bureaux de vote provient du
        <a href="http://www.alpes-maritimes.gouv.fr/">site de la préfécture des Alpes-Maritimes</a>.
      <p>
        Si vous rencontrez des bugs ou si vous remarquez des erreurs (fautes
        de français, erreurs dans les profils et programmes des candidats, etc),
        n'hésitez surtout pas à <a href="mailto:gilles@gillesfabio.com">me contacter</a>.
      </p>
    </script>
    <script>window.APP_BASE_URL="<%= baseurl %>";</script>
    <% if env == 'development' %>
    <% for script in scripts %>
    <script src="<%= baseurl %><%= script %>"></script>
    <% endfor %>
    <% else %>
    <script src="<%= baseurl %>js/scripts.js"></script>
    <% endif %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-49116312-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
