<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saint-Laurent-du-Var Municipales 2014</title>
    <% if env == 'development' %>
      <% for style in styles %>
      <link rel="stylesheet" href="<%= baseurl %><%= style %>"><% endfor %>
      <script src="<%= baseurl %><%= modernizr %>"></script>
    <% else %>
      <link rel="stylesheet" href="<%= baseurl %>css/styles.css">
      <script src="<%= baseurl %>js/modernizr.js"></script>
    <% endif %>
  </head>
  <body>
    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="<%= baseurl %>">SLV Municipales 2014</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="<%= baseurl %>#/candidats">Candidats</a></li>
            <li><a href="<%= baseurl %>#/themes">Thèmes</a></li>
            <li><a href="<%= baseurl %>#/a-propos">À propos</a></li>
          </ul>
        </section>
      </nav>
    </div>
    <div id="content" class="row">
    </div>

    <script id="candidate-card-template" type="text/x-handlebars-template">
      <div class="row panel">
        <div class="small-12 medium-2 large-2 columns">
          <img src="{{model.picture}}" class="circle" alt="{{model.name}}">
        </div>
        <div class="small-12 medium-10 large-10 columns">
          <h2>{{model.name}}</h2>
          <h6 class="subheader">{{model.party.acronym}} ({{model.party.name}})</h6>
          {{#if model.slogan}}<blockquote>{{model.slogan}}</blockquote>{{/if}}
          <ul class="no-bullet candidate-links">
            {{#if model.homepage}}<li><i class="fa fa-globe"></i> <a href="{{model.homepage}}">{{model.homepage}}</a></li>{{/if}}
            {{#if model.twitter}}<li><i class="fa fa-twitter"></i> <a href="http://twitter.com/{{model.twitter}}">@{{model.twitter}}</a></li>{{/if}}
            {{#if model.facebook}}<li><i class="fa fa-facebook-square"></i> <a href="http://facebook.com/{{facebook}}">{{model.facebook}}</a></li>{{/if}}
          </ul>
          {{#if showButton}}
            <a href="<%= baseurl %>#/candidats/{{model.slug}}" class="button"><i class="fa fa-list-ol"></i> Voir le programme</a>
          {{/if}}
        </div>
      </div>
    </script>

    <script id="candidate-program-template" type="text/x-handlebars-template">
      {{#each propositions}}
        <h4 class="theme-title"><a href="<%= baseurl %>#/themes/{{this.0.category.slug}}">{{@key}}</a></h4>
        <ol class="propositions">
          {{#each this}}
          <li>{{description}}</li>
          {{/each}}
        </ol>
      {{/each}}
    </script>

    <script id="category-list-template" type="text/x-handlebars-template">
      <h2>Thèmes</h2>
      <ul>
        {{#each this}}
        <li><a href="<%= baseurl %>#/themes/{{slug}}">{{name}}</a></li>
        {{/each}}
      </ul>
    </script>

    <script id="category-template" type="text/x-handlebars-template">
      <h2>{{category.name}}</h2>
      {{#each programs}}
        <h4>{{@key}}</h4>
        {{#each this}}
        <ul>
          {{#each propositions}}
          <li>{{description}}</li>
          {{/each}}
        </ul>
        {{/each}}
      {{/each}}
    </script>

    <script id="about-template" type="text/x-handlebars-template">
      <h1>À propos</h1>
      <p>
        Designé et développé par <a href="http://gillesfabio.com">Gilles Fabio</a>,
        laurentin.
      </p>
    </script>

    <script>window.APP_BASE_URL="<%= baseurl %>";</script>
    <% if env == 'development' %>
      <% for script in scripts %>
      <script src="<%= baseurl %><%= script %>"></script>
      <% endfor %>
    <% else %>
      <script src="<%= baseurl %>js/scripts.js"></script>
    <% endif %>

  </body>
</html>
