@import "foundation/_functions";

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$color-white            : #FFFFFF;
$color-dark-gray        : #909090;
$color-porcelain        : #ECF0F1;
$color-iron             : #DADFE1;
$color-chambray         : #3A539B;
$color-steel-blue       : #4B77BE;
$color-steel-blue-hover : #1F3A93;

// -----------------------------------------------------------------------------
// Foundation Settings Overrides
// -----------------------------------------------------------------------------

$topbar-bg                      : $color-chambray;
$topbar-link-color              : $color-white;
$topbar-link-color-hover        : $color-white;
$topbar-link-color-active       : $color-white;
$topbar-link-color-active-hover : $color-white;
$topbar-link-font-size          : rem-calc(13);
$topbar-link-bg-hover           : $color-steel-blue-hover;
$topbar-link-bg-active          : $color-steel-blue;
$topbar-link-bg-active-hover    : $color-steel-blue-hover;
$topbar-dropdown-bg             : $color-chambray;
$topbar-dropdown-link-bg        : $color-white;
$anchor-font-color              : $color-chambray;
$anchor-font-color-hover        : $color-steel-blue;

// -----------------------------------------------------------------------------
// Load Foundation
// -----------------------------------------------------------------------------

@import "foundation/_settings";
@import "foundation";
@import "normalize";

// -----------------------------------------------------------------------------
// General
// -----------------------------------------------------------------------------

html {
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-transform : uppercase;
  font-size      : rem-calc(28);
  font-weight    : 200;
  border-bottom  : 1px solid $color-iron;
  margin-bottom  : rem-calc(20);
  color          : $color-chambray;
  text-align     : center;
}

i {
  color: $color-chambray;
}

// -----------------------------------------------------------------------------
// Top Bar
// -----------------------------------------------------------------------------

.top-bar {
  text-transform: uppercase;
  h1 {
    text-align: left;
    text-transform: normal;
  }
  .name h1 a {
    font-size: rem-calc(16);
    text-transform: none;
  }
  .top-bar-section li a {
    font-weight: bold;
  }
}

.top-bar.expanded .toggle-topbar a {
  color: $color-white;
}

.top-bar-section ul li:hover > a {
  background: $color-steel-blue-hover !important;
}

// -----------------------------------------------------------------------------
// Content
// -----------------------------------------------------------------------------

#content {
  padding: rem-calc(10 10 20 10);
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

.button {
  background: $color-chambray;
  i {
    color: #ececec;
  }
}

button:hover, button:focus, .button:hover, .button:focus {
  background: $color-steel-blue;
}

// -----------------------------------------------------------------------------
// candidate-card
// -----------------------------------------------------------------------------

.candidate-card {
  text-align: center;
  .content > .row {
    background : $color-porcelain;
    border     : 1px solid $color-iron;
    padding    : rem-calc(20);
    margin     : rem-calc(5);
  }
  :last-child {
    border-bottom: none;
  }
  h1 {
    color          : #555;
    padding        : 0;
    margin-bottom  : 0;
    font-size      : rem-calc(24);
    text-transform : uppercase;
    font-weight    : 200;
    border-bottom  : none;
  }
  h2 {
    font-size      : rem-calc(16);
    color          : $color-dark-gray;
    letter-spacing : rem-calc(-1);
    padding        : 0;
    margin         : rem-calc(5 0 5 0);
  }
  .actions {
    i {
      font-size: rem-calc(20);
      color: $color-white;
    }
  }
  .links {
    margin-top   : rem-calc(10);
    margin-left  : auto;
    margin-right : auto;
    .button {
      background: $color-white;
    }
    button:hover, button:focus, .button:hover, .button:focus {
      background: $color-white;
    }
    .button-group {
      display : inline-block;
      margin  : auto;
    }
    i {
      font-size : rem-calc(20);
      color     : $color-chambray;
    }
  }
}

// -----------------------------------------------------------------------------
// candidate-detail
// -----------------------------------------------------------------------------

.candidate-detail {
  .candidate-card {
    .content > .row {
      background    : none;
      border        : none;
      padding       : rem-calc(0);
      margin-bottom : rem-calc(10);
    }
    .links {
      .button {
        background: $color-porcelain;
      }
      button:hover, button:focus, .button:hover, .button:focus {
        background: $color-iron;
      }
    }
  }
  .candidate-detail-program {
    h3 {
      font-size      : rem-calc(22);
      font-variant   : small-caps;
      color          : $color-steel-blue;
      margin         : rem-calc(20 0 20 0);
      text-align     : center;
    }
    h3 a {
      color: $color-steel-blue;
    }
  }
  .candidate-detail-program, .candidate-detail-list {
    h2 {
      font-size      : rem-calc(25);
      font-weight    : 400;
      text-transform : uppercase;
      margin-bottom  : rem-calc(20);
      padding        : rem-calc(0 0 10 0);
      color          : $color-chambray;
      border-bottom  : 1px solid $color-iron;
      text-align     : center;
    }
    h2 small, h2 small a {
      color : $color-chambray;
    }
  }

  .candidate-detail-list {
    ul {
      text-align: center;
    }
    h3 {
      text-align    : center;
      font-variant  : small-caps;
      margin-bottom : rem-calc(20);
      font-weight   : 200;
    }
    .position {
      font-weight : bold;
      text-align  : center;
      color       : $color-chambray;
    }
    .merge {
      text-transform : uppercase;;
      font-weight    : bold;
      letter-spacing : -1px;
      color          :  $color-chambray;
    }
  }
}

// -----------------------------------------------------------------------------
// candidate-program
// -----------------------------------------------------------------------------

.candidate-program-projects {
  p, ul {
    font-size  : rem-calc(15);
    margin     : rem-calc(10 0 10 0);
  }
  > li {
    background    : $color-porcelain;
    border        : 1px solid $color-iron;
    padding       : rem-calc(10);
    margin-bottom : rem-calc(10);
  }
  li ul li {
    list-style-type: square;
  }
}

// -----------------------------------------------------------------------------
// theme-list
// -----------------------------------------------------------------------------

.theme-list {
  li {
    span {
      background  : $color-porcelain;
      border      : 1px solid $color-iron;
      height      : rem-calc(120);
      text-align  : center;
      padding     : rem-calc(20 0 0 0);
      display     : block;
    }
    a {
      padding        : rem-calc(10);
      display        : inline-block;
      vertical-align : middle;
      line-height    : normal;
      font-weight    : 400;
      text-transform : uppercase;
    }
    i {
      color     : #3A539B;
      font-size : rem-calc(30);
      display   : block;
    }
  }
}

// -----------------------------------------------------------------------------
// theme-detail
// -----------------------------------------------------------------------------

.theme-detail {
  h2 {
    font-weight    : 200;
    text-transform : uppercase;
    text-align     : center;
    margin-bottom  : rem-calc(20);
    padding        : rem-calc(10);
    border-bottom  : 1px solid $color-iron;
  }
  h4 {
    font-size      : rem-calc(16);
    text-transform : uppercase;
    font-weight    : 200;
  }
  .candidate-program {
    border-bottom : 1px solid $color-iron;
    margin        : rem-calc(20 0 20 0);
  }
}

// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------
.elected {
  text-align    : center;
  margin-bottom : rem-calc(30);
  h2 {
    font-size      : rem-calc(22);
    font-weight    : bold;
    letter-spacing : -1px;
    font-variant   : small-caps;
    border-bottom  : 1px solid $color-iron;
    padding-bottom : rem-calc(15);
    margin-bottom  : rem-calc(20);
    text-align     : center;
  }
  h3 {
    font-size   : rem-calc(18);
    font-weight : normal;
  }
  h4 {
    font-size   : rem-calc(18);
    font-weight : normal;
    color       : $color-chambray;
  }
}

.result-list {
  margin-bottom: rem-calc(20);
}

.results {
  h2 {
    font-size      : rem-calc(22);
    font-weight    : bold;
    letter-spacing : -1px;
    font-variant   : small-caps;
    border-bottom  : 1px solid $color-iron;
    padding-bottom : rem-calc(15);
    margin-bottom  : rem-calc(20);
    text-align     : center;
  }
  .content {
    li {
      text-align: center;
      h5 {
        font-size   : rem-calc(13);
        font-weight : normal;
      }
      h6 {
        font-size   : rem-calc(16);
        font-weight : normal;
        color       : $color-chambray;
      }
    }
  }
}

.results-stats {
  .stat {
    background : $color-porcelain;
    border     : 1px solid $color-iron;
    text-align : center;
    h5 {
      background  : $color-iron;
      font-size   : rem-calc(16);
      font-weight : normal;
      padding     : rem-calc(5);
      margin      : 0;
    }
    p {
      font-size : rem-calc(15);
      color     : $color-chambray;
      padding   : rem-calc(10);
    }
    ul {
      list-style : none;
      margin     : 0;
      padding    : rem-calc(10);
    }
    .percentage {
      font-size : rem-calc(18);
      color     : $color-chambray;
    }
    .count, p small {
      color     : $color-dark-gray;
      font-size : rem-calc(13);
    }
  }
}

// -----------------------------------------------------------------------------
// Offices
// -----------------------------------------------------------------------------

.office-list, .office-result-list {
  h2 {
    font-size      : rem-calc(22);
    font-weight    : bold;
    letter-spacing : -1px;
    font-variant   : small-caps;
    padding-bottom : rem-calc(15);
    margin-bottom  : rem-calc(20);
    text-align     : center;
  }
  .office {
    border: 1px solid $color-iron;
    h3 {
      text-align     : left;
      font-size      : rem-calc(14);
      background     : $color-porcelain;
      padding        : rem-calc(10);
      margin         : 0;
      font-weight    : bold;
    }
    h3 small {
      font-size   : rem-calc(15);
      font-weight : normal;
    }
    .office-results {
      padding   : rem-calc(10);
      font-size : rem-calc(14);
      .global-stats {
        font-size   : rem-calc(12);
        font-weight : normal;
      }
      .global-stats li {
        margin-right: 0;
      }
      table {
        border : none;
        width  : 100%;
      }
      th:nth-child(n+2) {
        text-align: right;
      }

      .percentage, .count {
        text-align: right;
      }

      .name {
        color: $color-chambray;
      }
    }
    .office-address {
      font-size   : rem-calc(15);
      font-weight : normal;
      text-align  : center;
      padding     : rem-calc(20 0 10 0);
    }
    .office-gmap {
      font-size  : rem-calc(14);
      text-align : center;
    }
    .office-hours {
      margin     : 0;
      padding    : 0;
      text-align : center;
    }
  }
}

.office-result-list {
  .candidate-stats {
    background : $color-porcelain;
    border     : 1px solid $color-iron;
    padding    : rem-calc(20);
    min-height : rem-calc(280);
    h3 {
      font-size   : rem-calc(14);
      font-weight : bold;
      text-align  : center;
    }
    .candidate-picture {
      text-align: center;
    }
    .candidate-topflop {
      text-align: center;
      h4 {
        font-size: rem-calc(16);
        font-weight: bold;
        text-transform: uppercase;
        color: $color-chambray;
      }
      ul > li {
        font-size: rem-calc(14);
        font-weight: normal;
      }
      ul > li + li {
        font-size: rem-calc(16);
        color: $color-chambray;
      }
      ul > li + li + li {
        color: $color-dark-gray;
        font-size: rem-calc(13);
        font-weight: normal;
      }
    }
    .top-stat {
      margin-bottom: rem-calc(20);
    }
  }
}

// -----------------------------------------------------------------------------
// Council
// -----------------------------------------------------------------------------

.council {
  table {
    width: 100%;
  }
}

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

a.circle {
  color: transparent;
}

.circle {
  line-height   : 0;
  display       : inline-block;
  margin        : rem-calc(5);
  border        : 2px solid rgba(255,255,255,0.4);
  border-radius : 50%;
  transition    : linear 0.25s;
  height        : rem-calc(120);
  width         : rem-calc(120);
  :hover {
    transition         : ease-out 0.2s;
    border             : 2px solid rgba(255,255,255,0.8);
    -webkit-transition : ease-out 0.2s;
  }
  img {
    border-radius: 50%;
  }
}

.dashbox {
  background : $color-porcelain;
  border     : 1px solid $color-iron;
  text-align : center;
  h5 {
    background  : $color-iron;
    font-size   : rem-calc(16);
    font-weight : normal;
    padding     : rem-calc(10);
    margin      : 0;
  }
  dl {
    padding: rem-calc(20 0 0 0);
  }
  dt {
    font-size : rem-calc(20);
    color     : $color-chambray;
  }
  dd {
    color     : $color-dark-gray;
    font-size : rem-calc(13);
  }
}

// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------

@media #{$small-only} {
  #content {
    h1 {
      text-align: center;
    }
  }
  .top-bar .name h1 {
    font-size: rem-calc(10) !important;
  }
  .top-bar-section a {
    text-align : center;
    border-top : 1px solid #4B77BE;
  }
  .candidate-detail-program {
    h2 {
      font-size: rem-calc(20) !important;
    }
  }
  .candidate-card {
    text-align: center;
    h2 {
      font-size: rem-calc(14) !important;
    }
    .content > .row {
      padding: rem-calc(10) !important;
    }
  }
  .list-person {
    p {
      text-align: center;
    }
  }
  .office-list, .office-result-list {
    .office-results {
      font-size: rem-calc(13) !important;
    }
  }
}
