html {
  -webkit-font-smoothing: antialiased;
}

#content {
  padding-top: 20px;
}

.off-canvas-wrap, .inner-wrap {
    height:100%;
}

.row.candidate {
  margin-bottom: 30px;
}

.panel {
  background: #f7f7f7 !important;
  border: none;
}
