@import "foundation/_functions";

// -----------------------------------------------------------------------------
// Application constants
// -----------------------------------------------------------------------------
$slv-color-dark1: #3A539B;
$slv-color-dark2: #4B77BE;
$slv-color-dark2-hover: #1F3A93;
$slv-color-light-border: #ECECEC;
$slv-candidate-slogan-color: #909090;

// -----------------------------------------------------------------------------
// Foundation Settings Overrides
// -----------------------------------------------------------------------------
$topbar-bg: $slv-color-dark1;
$topbar-height: 50px;
$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-color-active-hover: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(14);
$topbar-link-bg-hover: $slv-color-dark2-hover;
$topbar-link-bg-active: $slv-color-dark2;
$topbar-link-bg-active-hover: $slv-color-dark2-hover;
$topbar-dropdown-bg: $slv-color-dark1;
$topbar-dropdown-link-bg: #fff;
$anchor-font-color: $slv-color-dark1;
$anchor-font-color-hover: $slv-color-dark2;

// -----------------------------------------------------------------------------
// Load Foundation
// -----------------------------------------------------------------------------
@import "foundation/_settings";
@import "foundation";
@import "normalize";

// -----------------------------------------------------------------------------
// General
// -----------------------------------------------------------------------------
html {
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-transform : uppercase;
  font-size      : rem-calc(28);
  font-weight    : 200;
  border-bottom  : 1px solid $slv-color-light-border;
  margin-bottom  : rem-calc(20);
  color          : $slv-color-dark1;
  text-align     : center;
}

i {
  color: $slv-color-dark1;
}

// -----------------------------------------------------------------------------
// Top Bar
// -----------------------------------------------------------------------------
.top-bar {

  text-transform: uppercase;

  h1 {
    text-align: left;
  }

  .name h1 a {
    font-size: rem-calc(16);
  }
}

.top-bar.expanded .toggle-topbar a {
  color: #fff;
}

.top-bar-section ul li:hover > a {
  background: $slv-color-dark2-hover !important;
}

// -----------------------------------------------------------------------------
// Content
// -----------------------------------------------------------------------------
#content {
  padding: rem-calc(20);
}

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
.button {
  background: $slv-color-dark1;
  i {
    color: #ececec;
  }
}

button:hover, button:focus, .button:hover, .button:focus {
  background: $slv-color-dark2;
}

// -----------------------------------------------------------------------------
// candidate-card
// -----------------------------------------------------------------------------
.candidate-card {

  text-align: center;
  padding: rem-calc(20 0 20 0);

  :last-child {
    border-bottom: none;
  }

  h1 {
    color          : #555;
    padding        : 0;
    margin-bottom  : 0;
    font-size      : rem-calc(24);
    text-transform : uppercase;
    font-weight    : 200;
    border-bottom  : none;
  }

  h2 {
    font-size      : rem-calc(18);
    color          : $slv-candidate-slogan-color;
    letter-spacing : rem-calc(-1);
    padding        : 0;
    margin         : rem-calc(5 0 5 0);
  }

  h3 {
    font-size      : rem-calc(18);
    color          : #555;
    letter-spacing : rem-calc(-1);
    padding        : 0;
    margin         : rem-calc(5 0 5 0);
  }

  ul {
    font-size: rem-calc(14);
    margin-bottom: rem-calc(10);
  }
}

// -----------------------------------------------------------------------------
// candidate-detail
// -----------------------------------------------------------------------------
.candidate-detail {

  .candidate-detail-program {
    h3 {
      font-size      : rem-calc(18);
      text-transform : uppercase;
      color          : #555;
      margin         : rem-calc(20 0 20 0);
    }
    h3 a {
      color: #555;
    }
  }

  .candidate-detail-program, .candidate-detail-running-mates {
    h2 {
      font-size      : rem-calc(30);
      text-transform : uppercase;
      font-weight    : 200;
      letter-spacing : -1px;
      margin-bottom  : rem-calc(20);
      color          : #3A539B;
      border-bottom  : 1px solid #3A539B;
    }
  }
}

// -----------------------------------------------------------------------------
// candidate-program
// -----------------------------------------------------------------------------
.candidate-program-projects {

  p, ul {
    font-size  : rem-calc(14);
    margin     : rem-calc(10 0 10 0);
  }

  > li {
    background    : #f9f9f9;
    border        : 1px solid #ececec;
    padding       : rem-calc(20);
    margin-bottom : rem-calc(10);
  }

  li ul li {
    list-style-type: square;
  }
}

// -----------------------------------------------------------------------------
// theme-list
// -----------------------------------------------------------------------------
.theme-list {

  li {

    span {
      background  : #f5f5f5;
      height      : rem-calc(120);
      text-align  : center;
      padding     : rem-calc(20 0 0 0);
      display     : block;
    }

    a {
      padding        : rem-calc(10);
      display        : inline-block;
      vertical-align : middle;
      line-height    : normal;
      font-weight    : 400;
      text-transform : uppercase;
    }

    i {
      color     : #3A539B;
      font-size : rem-calc(30);
      display   : block;
    }
  }
}

// -----------------------------------------------------------------------------
// theme-detail
// -----------------------------------------------------------------------------
.theme-detail {

  h2 {
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem-calc(20);
    padding: rem-calc(10);
    border-bottom: 1px solid #ececec;
  }

  h4 {
    font-size: rem-calc(16);
    text-transform: uppercase;
    font-weight: 200;
  }

  .candidate-projects {
    border-bottom: 1px solid #ececec;
    margin: rem-calc(20 0 20 0);
  }
}

// -----------------------------------------------------------------------------
// running-mate
// -----------------------------------------------------------------------------
.running-mate {

  padding: 0;
  margin: 0;

  h5 {
    font-size      : rem-calc(16);
    background     : #f9f9f9;
    padding        : rem-calc(10);
    margin         : 0;
    font-weight    : 400;
    letter-spacing : -1px;
  }

  h5 .running-mate-position {
    color: #909090;
  }

  p {
    font-size: 80%;
    padding: rem-calc(10);
    color: #555;
  }

  .running-mate-content {
    border: 1px solid #ececec;
    padding: 0;
  }
}

// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------
.elected {

  background    : #4B77BE;
  margin-bottom : rem-calc(20);

  h2, h3 {
    color          : #fff;
    text-transform : uppercase;
  }

  h2 {
    font-size   : rem-calc(28);
    font-weight : normal;
  }

  h3 {
    font-size   : rem-calc(18);
    font-weight : normal;
  }

  .elected-header {
    background : #3A539B;
    padding    : rem-calc(20);
    text-align : center;
  }

  .elected-content {
    padding    : rem-calc(20);
    text-align : center;
  }
}

.results {
  border: 1px solid #ececec;
  margin-bottom: rem-calc(20);
}

.results-header {
  background: #ececec;
  padding: rem-calc(20);
  text-align: center;
  font-size: rem-calc(18);
  font-weight: 200;
}

.results-content {

  padding: rem-calc(20);

  li {

    text-align: center;

    h5 {
      font-size: rem-calc(13);
      font-weight: normal;
    }

    h6 {
      font-size: rem-calc(13);
      font-weight: normal;
      color: #909090;
    }
  }
}

// -----------------------------------------------------------------------------
// Polling Places
// -----------------------------------------------------------------------------
.polling-place-list {

  .polling-place {

    border: 1px solid #ececec;

    h2 {
      text-align     : center;
      font-size      : rem-calc(16);
      background     : #f9f9f9;
      padding        : rem-calc(10);
      margin         : 0;
      font-weight    : bold;
    }

    h2 small {
      font-size: rem-calc(14);
      font-weight: normal;
    }

    p {
      font-size: rem-calc(13);
      padding: 10px;
      text-align: center;
    }

    p + p {
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------
a.circle {
  color: transparent;
}

.circle {
  line-height   : 0;
  display       : inline-block;
  margin        : rem-calc(5);
  border        : 2px solid rgba(255,255,255,0.4);
  border-radius : 50%;
  transition    : linear 0.25s;
  height        : rem-calc(120);
  width         : rem-calc(120);
  :hover {
    transition         : ease-out 0.2s;
    border             : 2px solid rgba(255,255,255,0.8);
    -webkit-transition : ease-out 0.2s;
  }
  img {
    border-radius: 50%;
  }
}

// -----------------------------------------------------------------------------
// Media Queries
// -----------------------------------------------------------------------------
@media #{$small-only} {

  #content {
    h1 { text-align: center; }
  }

  .top-bar .name h1 {
    font-size: rem-calc(10) !important;
  }

  .top-bar-section a {
    text-align: center;
    border-top: 1px solid #4B77BE;
  }

  .candidate-card {

    text-align: center;

    .candidate-slogan {
      font-size: 90%;
    }
  }

  .candidate-detail {
    h2, h3, h4, h5, h6 { text-align: center; }
    h2 { font-size: rem-calc(20); }
    h3 { font-size: rem-calc(18); }
  }

  .running-mate {
    p {
      text-align: center;
    }
  }
}
