html {
  -webkit-font-smoothing: antialiased;
}

#content {
  padding-top: 20px;
}

.off-canvas-wrap, .inner-wrap {
    height:100%;
}

.candidate-card {
  margin-bottom: 30px;
}

.panel {
  background: #f7f7f7 !important;
  border: none;
}

.circle {
  line-height: 0;
  display: inline-block;
  margin: 5px;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  transition: linear 0.25s;
  height: 120px;
  width: 120px;
}

.circle img {
  border-radius: 50%;
}

.circle:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(255,255,255,0.8);
  -webkit-transition: ease-out 0.2s;
}

a.circle {
  color: transparent;
}
