html {
  -webkit-font-smoothing: antialiased;
}

#content {
  padding-top: 20px;
}

#content h1 {
  text-transform : uppercase;
  font-size      : 28px;
  font-weight    : 200;
  border-bottom  : 1px solid #ececec;
  margin-bottom  : 20px;
  color          : #3A539B;
}

i {
  color: #3A539B;
}

.top-bar, .contain-to-grid {
  background: #3A539B;
}

.top-bar {
  text-transform: uppercase;
}

.top-bar .name h1 {
  font-size: 20px;
  font-weight: bold !important;
}

.top-bar-section {
  background: #4B77BE !important;
}

.top-bar-section a {
  background: #4B77BE !important;
  font-weight: bold !important;
}

.top-bar-section ul li:hover > a {
  background: #1F3A93 !important;
}

.button {
  background: #3A539B;
}

button:hover, button:focus, .button:hover, .button:focus {
  background: #4B77BE
}

.button i {
  color: #ececec;
}

a {
  color: #3A539B;
  font-weight: bold;
}

a:hover, a:focus {
  color: #4B77BE
}

/* candidate-card
----------------------------------------------------------------------------- */
.candidate-card {
  padding: 20px 0 20px 0;
}

#content .candidate-card h1 {
  border-bottom  : none;
  padding        : 0;
  margin-bottom  : 0;
  font-size      : 24px;
  text-transform : uppercase;
  font-weight    : 200;
  border-bottom  : none;
}

.candidate-card:last-child {
  border-bottom: none;
}

.candidate-links {
  font-size: 90%;
  margin-bottom: 10px;
}

.candidate-slogan {
  font-size: 16px;
  color: #909090;
  letter-spacing: -1px;
}

/* candidate-detail
----------------------------------------------------------------------------- */
.candidate-detail h2 {
  font-size      : 30px;
  text-transform : uppercase;
  font-weight    : 400;
  letter-spacing : -1px;
  margin-bottom  : 20px;
  color          : #3A539B;
  border-bottom  : 1px solid #3A539B;
}


/* candidate-program
----------------------------------------------------------------------------- */
.candidate-program .panel {
  background : #f7f7f7 !important;
  border     : none;
}
.candidate-program-projects li {
  background    : #f5f5f5;
  padding       : 20px;
  margin-bottom : 5px;
}

.candidate-program-projects li p {
  font-size     : 90%;
  margin-bottom : 0;
}

/* theme-list
----------------------------------------------------------------------------- */
.theme-list li span {
  background  : #f5f5f5;
  height      : 120px;
  text-align  : center;
  padding     : 20px 0 0 0;
  display     : block;
}

.theme-list i {
  color: #3A539B;
  font-size: 30px;
  display: block;
}

.theme-list li a {
  padding        : 10px;
  display        : inline-block;
  vertical-align : middle;
  line-height    : normal;
  font-weight    : 400;
  text-transform : uppercase;
}

/*
----------------------------------------------------------------------------- */
.theme-detail h2 {
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.theme-detail h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
}

.theme-detail .candidate-projects {
  border-bottom: 1px solid #ececec;
  margin: 20px 0 20px 0;
}

/* running-mate
----------------------------------------------------------------------------- */
.running-mate-content p {
  font-size: 90%;
}

.running-mate-content {
  border: 1px solid #ececec;
  padding: 0;
}

.running-mate {
  padding: 0;
  margin: 0;
}

.running-mate h5 {
  background: #ececec;
  padding: 10px;
  margin: 0;
  font-weight: 400;
  letter-spacing: -1px;
}

.running-mate p {
  font-size: 80%;
  font-weight: bold;
  padding: 10px;
  color: #444;
}

/* Utilities
----------------------------------------------------------------------------- */
.circle {
  line-height   : 0;
  display       : inline-block;
  margin        : 5px;
  border        : 2px solid rgba(255,255,255,0.4);
  border-radius : 50%;
  transition    : linear 0.25s;
  height        : 120px;
  width         : 120px;
}

.circle img {
  border-radius: 50%;
}

.circle:hover {
  transition         : ease-out 0.2s;
  border             : 2px solid rgba(255,255,255,0.8);
  -webkit-transition : ease-out 0.2s;
}

a.circle {
  color: transparent;
}

/* Media Queries
----------------------------------------------------------------------------- */
@media only screen and (max-width: 40em) {

  #content {
    padding: 20px;
  }

  .candidate-list .candidate-card {
    text-align: center;
  }

  .candidate-card .candidate-slogan {
    font-size: 90%;
  }

  .candidate-program-projects li {
    padding: 10px;
    font-size: 80%;
  }

  .candidate-detail-program-source p {
    font-size: 90%;
  }
}
